.container {
  width: 100%;
  height: 100%;
  background-color: #64748b;
  padding: 40px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.containerTitle {
  font-size: 25px;
  font-weight: 500;
}

.booksList {
  display: flex;
  flex-wrap: wrap;
  gap: 54px;
  justify-content: center;
}

.titleGroup {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  margin-bottom: 20px;
}

.titleGroup button {
  background-color: #8fa9cc;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  transition: all ease-in 0.3s;
}

.titleGroup button:hover {
  background-color: #7489a5;
}

.formButtonsGroup {
  display: flex;
  align-self: flex-end;
  gap: 10px;
}

.formButtonsGroup button {
  background-color: #5e6e85;
}

.formButtonsGroup button:last-child {
  background-color: #10b981;
}

.formButtonsGroup button:last-child:hover {
  background-color: #0b996a;
}

.modalButtonsGroup .ok {
  background-color: #10b981;
}

.modalButtonsGroup .ok:hover {
  background-color: #059669;
}

.modalButtonsGroup {
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-self: flex-end;
  gap: 10px;
}

.modalButtonsGroup button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
}