.container {
  width: 100%;
  height: 100%;
  background-color: #64748b;
  padding: 20px;
  border-radius: 8px;
  display: flex;

  justify-content: space-between;
  align-items: stretch;
}

.containerTitle {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 20px;
  background-color: #0f172a;
  width: 100%;
  border-radius: 4px;
  text-align: center;
}

.detailContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #94a3b8;
  padding: 15px;
  justify-content: center;
  border-radius: 4px;
}

.detailGroup {
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 493;
}

.detailGroup p {
  font-size: 17px;
  font-weight: 600;
  color: #0f172a;
}

.detail {
  background-color: #0f172a;
  padding: 10px;
  border-radius: 4px;
  min-height: 40px;
}

.firstColumn {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.secondColumn {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-height: 100%;
  align-items: center;
  justify-content: space-between;
}

.secondColumn img {
  border-radius: 2px;
  object-fit: cover;
  max-width: 300px;
  max-height: 400px;
}

.container button {
  background-color: #5e6e85;
  align-self: flex-end;
  display: flex;
  align-items: center;
  transition: all ease-in 0.4s;
}

.container button:hover {
  background-color: #4a5263;
}

.detailContainer button {
  background-color: #0f172a;
}

.buttonsGroup {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: fit-content;
  height: 40px;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
}

.back {
  margin-bottom: 15px;
}

.buttonsGroup button {
  width: 10px;
  height: 40px;
  display: flex;
  flex-direction: column;
}

.buttonsGroup .update:hover {
  background-color: #37425e;
}

.buttonsGroup .delete {
  background-color: #c73434;
}

.buttonsGroup .delete:hover {
  background-color: #dd3f3f;
}

.modalButtonsGroup {
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-self: flex-end;
  gap: 10px;
}

.modalButtonsGroup button {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 30px;
}

.modalButtonsGroup .confirm {
  background-color: #ef4444;
}

.modalButtonsGroup .confirm:hover {
  background-color: #d82b2b;
}

.modalButtonsGroup .ok {
  background-color: #10b981;
}

.modalButtonsGroup .ok:hover {
  background-color: #059669;
}

.formButtonsGroup {
  display: flex;
  align-self: flex-end;
  gap: 10px;
}

.formButtonsGroup button:last-child {
  background-color: #10b981;
}

.formButtonsGroup button:last-child:hover {
  background-color: #0b996a;
}
